<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Basic Meta -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Amin Chamsaz">
        <meta name="description" content="">
        <title>Improve Your Love Life</title>
        <link rel="icon" type="image/x-icon" href="../img/img-fav-icon/favicon.png">
    
        <!-- Mobile Specific -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
         <!-- JavaScript -->
         <script src="js/rest.js" defer></script>
    
         <!-- CSS -->
         <link href= "css/style.css" rel="stylesheet" type="text/css" >
</head>
<body>
    <nav>
        <div class="logo">
            <h8>Dark mode
                <!-- Rounded switch -->
                <label class="switch" >
                    <input type="checkbox" id="Input" value="OFF">
                    <span class="slider round"></span>
                </label>
            </h8>
        </div>
        <div class="navigation">
            <ul>
                <li class="list">
                    <a href="/">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="Quiz">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="text">Quizz</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="fitness-outline"></ion-icon>
                        </span>
                        <span class="text">Learn</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="mic-outline"></ion-icon>
                        </span>
                        <span class="text">Podcasts</span>
                    </a>
                </li>
                <li class="list">
                    <a href="Contact_L">
                        <span class="icon">
                            <ion-icon name="mail-outline"></ion-icon>
                        </span>
                        <span class="text">Contact</span>
                    </a>
                </li>
                <li class="list">
                    <a href="Login">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="text">Logout</span>
                    </a>
                </li>
                <div class="indicator"></div> 
            </ul>
            <span class="icon burger">
                <ion-icon name="menu-outline"></ion-icon>
            </span>
            <span class="icon burger">
                <ion-icon name="close-outline"></ion-icon>
            </span>
        </div>
        

    </nav>

    <main id="grid-S">
            
        <div class="box-S">
            
            <p id="R_S" style="color: rgba(0, 0, 0, 0.700); font-size: 30px; font-weight: bold; padding-top: 20px;">YOUR PRIMARY LANGUAGE IS WORDS OF AFFIRMATION</p>
        
        </div>
        
        <div class="box-S">

            <div class="result_Img">
                <img src="../img/quality.png" style="width:200px; height: 200px;">
                <div id="q_c" class="centered"></div>
            </div>

            <div class="result_Img">
                <img src="../img/acts.png" style="width:200px; height: 200px;">
                <div id="a_c" class="centered"></div>
            </div>

            <div class="result_Img">
                <img src="../img/words.png" style="width:200px; height: 200px;">
                <div id="w_c" class="centered"></div>
            </div>

            <div class="result_Img">
                <img src="../img/gifts.png" style="width:200px; height: 200px;">
                <div id="g_c" class="centered"></div>
            </div>

            <div class="result_Img">
                <img src="../img/physical.png" style="width:200px; height: 200px;">
                <div id="p_c" class="centered"></div>
            </div>

        </div>

        <div class="box-S">

            <div style="color: rgba(0, 0, 0, 0.700); padding: 0px 40px 0px 40px; font-size: 18px;" >
                
                <p style="font-size: 23px; font-weight: bold; padding-bottom: 10px;">Interpreting and Using Your Profile Score:</p>
                <p> 
                 The highest score indicates your primary language - how you really understand your partner’s expressions of love.<br/> 
                 It’s common to have two high scores (the highest score being 12), although one language tends to have a slight<br/>edge for most people.
                 The lower scores in your profile indicate those languages you seldom use to communicate<br/>love and which probably don’t affect you on an 
                 emotional level in your relationship.
                </p>
 
             </div>
            
        </div>

    </main>
    
    <footer class="footer">
        <p style="margin-left: 2rem; font-size: 10pt;">Made by Amin Chamsaz &copy 2022</p>
        <p style="margin-right: 2rem">
            <a href="#" style="margin-right: 12px;" title="Twitter"><img src="../img/twitter.png"/></a>
            <a href="#" style="margin-right: 12px;" title="instagram"><img src="../img/instagram.png"/></a>
            <a href="#" class="icon-linkedin" title="linkedin"><img src="../img/linkedin.png"/></a>
        </p>
    </footer>

    
    <script>
        const list =document.querySelectorAll('.list');
        function activelink(){
            list.forEach((item) => item.classList.remove('active'));
            this.classList.add('active');
        }
        list.forEach((item) => item.addEventListener('click', activelink));
    </script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
</body>
</html>
